@media only screen and (max-width: 1024px) {
    .header-content{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        //overflow-y: hidden; /* Add this line to disable vertical scrollbar */
        overflow-y: auto;
        height: 100%;
        .left-header {
            display: flex;
            align-items: center;
            position: relative; //The image will have a shape behind it
            //.h-shape {
             // transition: all .4s ease-in-out;
             // width: 65%;
             // height: 100%;
              //background-color: var(--color-hover);
              //position: absolute;
              //left: 0;
              //top: 0;
              //z-index: -1;
           // }
            .image {
              border-radius: var(--br-sm-2);
              height: 80%;
              width: 100%;
              margin-left: 4rem;
              background-color: var(--color-black);
              transition: all .4s ease-in-out;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .4s ease-in-out;
                //filter: grayscale(100%);
                //&:hover {
                //  filter: grayscale(0);
                //}
              }
            }
        }
        .right-header {
            margin: 0 2.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 7rem;
            .name{
              font-size: 3rem;
              span{
                color: var(--color-pink);      
              }
            }
            p{
              font-family: "Poppins", sans-serif;
              font-weight: 400;
              font-style: normal;
              margin: 1.5rem 0;
              line-height: 2rem; //line-height is the spacing of lines of text
            }
        }

        
    }

    #about{
        .main-title{
            //margin: 0 10rem !important;
            margin-left: -9rem !important;
        }
        .about-contents{
            margin: 1.8rem auto !important;
        }
    }

    #experience{
        .main-title{
            margin: 0 auto !important;
            h2{
                font-size: 3.2rem;
            }
            .bg-text{
                font-size: 4.9rem;
            }
            //margin-left: -4rem !important;
        }
        .experiences{
            grid-template-columns: 1fr !important;
            padding-bottom: 6rem;
            .experience .experience-text h4 {
                font-size: 19px;
            }
        }
    }

    #portfolio{
        .main-title{
            margin: 0 auto !important;
            h2{
                font-size: 3.2rem;
            }
            .bg-text{
                font-size: 4.9rem;
            }
            //margin-left: -4rem !important;
        }
        .portfolio-filter{
            padding-top: 2rem;
        }
        .portfolio-items{
            display: grid;
            grid-template-columns: repeat(2, 1fr) !important;
            margin-left: -3rem;
        }
    }
    .portfolio-popup{
        .pp-main{
            margin-left: 5rem !important;
            //margin-top: 3rem;
            z-index: 2 !important;
        }
        
        .pp-details{
            margin-left: 5rem;
            .pp-project-details{
                //width: 3rem !important;
                //display: grid;
                //grid-template-columns: repeat(2, 1fr) !important;
                .row1{
                    gap: 2px !important;
                    //width: 15rem !important;
                    //right: -1rem !important;
                    //left: -1rem !important;
                    //gap: -10rem;
                    //padding-right: -10rem !important;
                    //margin-right: -10rem !important;
                    display: flex;
                    flex-direction: column;
                    //display: grid;
                    //grid-template-columns: repeat(2, 1fr) !important;
                    
                    .description{
                        max-width: 95% !important;
                        width: 55rem !important;
                        //margin-bottom: 1rem !important;
                        //width: -10rem !important;
                        p{
                            
                            //display: grid;
                            //grid-template-columns: repeat(2, 1fr) !important;
                            //width: 1rem !important;
                            //margin-right: -1rem !important;
                            //width: -2rem !important;
                            //min-height: 80px;
                            //margin-bottom: 5rem !important;
                    
                        }
                        .info{
                            z-index: 1 !important;
                            //padding-top: 5rem !important;
                           // display: grid;
                            //grid-template-columns: repeat(2, 1fr) !important;
                            //margin-left: -10rem !important;
                        }
                    }
                }
            }
        }
    }

    #services{
        .main-title{
            margin: 0 auto !important;
            h2{
                font-size: 3.2rem;
            }
            .bg-text{
                font-size: 4.9rem;
            }
            //margin-left: -4rem !important;
        }
        .service-row{
            display: grid;
            //grid-template-columns: repeat(2, 1fr) !important;
            grid-template-columns: 1fr !important;
            .service-box{
                margin: 0 auto !important;
                width: 70%; 
            }
        }
    }

    #contact{
        .main-title{
            margin: 0 auto !important;
            h2{
                font-size: 3.2rem;
            }
            .bg-text{
                font-size: 4.9rem;
            }
            //margin-left: -4rem !important;
        }
        #contact-form{
            margin: 0 auto !important;
            width: 40rem; /* Adjust the width as needed */
        }
    }


}
//@media(max-width: 991px){
    //.portfolio-section .portfolio-item{
    //    flex: 0 0 50%;
    //    max-width: 50%;
    //}
    //.controlls{
    //    position: fixed;
    //    top: auto;
    //    bottom: 0;
    //    flex-direction:  row;
    //    justify-content: center;
    //    left: 50%;
    //    transform: translateX(-50%);
    //    width: 100%;
    //    background-color: var(--color-grey-5);
    //    //z-index: 1 !important; /* Ensure controlls appear above other content */
    //    .control{
    //        //position: fixed;
    //        margin: 1rem .3rem; //1 rem is margin of top and bottom and .3rem is the margin of left and right.
    //    }
    //}
//}
@media screen and (max-width: 768px){
    header{
        padding: 0;
        overflow-y: auto !important;

        /* Style the scrollbar */
        ::-webkit-scrollbar {
            width: 10px; /* Width of the scrollbar */
        }

        /* Track (the area on the side of the scrollbar) */
        ::-webkit-scrollbar-track {
            background: var(--color-grey-5); /* Background color of the track */
        }

        /* Handle (the draggable part of the scrollbar) */
        ::-webkit-scrollbar-thumb {
            background: var(--color-grey-4); /* Color of the scrollbar thumb */
            border-radius: 5px; /* Rounded corners of the scrollbar thumb */
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: var(--color-grey-4); /* Color of the scrollbar thumb on hover */
        }
    }
    header .right-header{
        padding: 2rem !important;
    }

    .header-content{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    
    .left-header{
        .h-shape{
            display: none;
        }
    }

    .right-header{
        grid-row: 1;
        width: 90%;
        margin: 0 auto; //Center the content
        .name{
            font-size: 2.5rem !important;
        }
    }
    .header-content .left-header .image{
        margin: 0 auto; 
        width: 90%;
    }
    header .btn-con{
        padding: 0 4rem;
        margin: 0 auto; //Center the content
    }

    header .main-btn{
        width: 13rem;
    }
    header #socials-container{
        padding: 0 5rem;
        padding-bottom: 2rem;
        margin: 1rem auto; //Center the content
     }

     /* About */
     #about .container{
        grid-template-columns: 1fr;
        .about-col-1{
            grid-template-columns: 1fr;
            margin-top: -5rem;
            overflow-y: auto;
        }
     }
     .main-title{
        margin: 0 -9rem !important;
        //margin-bottom: -2rem;
        h2{
            font-size: 40px;
            .bg-text{
                font-size: 55px;
            }
        }
     }
     .summary{
        padding: 0 1rem;
        margin: 0 auto;
        font-size: 14px;
     }
     .tab-titles{
        padding: 0 1rem;
        margin-top: 2rem !important;
        margin: 0 auto;
        font-size: 14px;
     }
     .tab-contents{
        padding: 0 1rem;
        margin-top: 2rem !important;
        margin: 0 auto;
        font-size: 14px;
     }

     .about-col-2{
        padding-right: 0;
     }

     //.section{
        //padding: 2rem 2.5rem !important;
     //}
     /* End of About */
    
     /* Experience */
        #experience{
            //grid-template-columns: 1fr !important;
            margin: 0 auto;
            padding: 0 4rem;
            padding-bottom: 6rem;
            .main-title{
                margin: 2rem auto;
                margin-bottom: 2rem;
                white-space: nowrap;
                h2{
                    font-size: 30px;
                    .bg-text{
                        font-size: 40px;
                    }
                }
             }
        }
        .experiences{
            grid-template-columns: 1fr !important;
            padding-bottom: 6rem;
            .experience .experience-text h4 {
                font-size: 19px;
            }
        }
     /* End of Experience */

     /* Portfolio */
        #portfolio{
            //overflow-x: hidden !important;
            flex: 0 0 100% !important;
            max-width: 100% !important;
            margin: 2rem auto !important;
            //margin: 0 auto;
            padding: 0 1rem !important;
            padding-bottom: 6rem !important;
            .main-title{
                margin: 0 auto !important;
                //margin-bottom: 2rem;
                white-space: nowrap;
                h2{
                    font-size: 30px;
                    .bg-text{
                        font-size: 40px;
                    }
                }
            }

            .container{
                flex: 0 0 100% !important;
                max-width: 100% !important;
                //padding: 0 1rem;
                margin: 0 auto !important;
        
                //display: inline-block;
                //display: flex;
                //flex-wrap: wrap; /* Allow items to wrap to the next line */
                //grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
                //grid-template-columns: 1fr !important;
                //gap: 20px; /* Adjust the gap between items as needed */
                .portfolio-filter{
                    white-space: nowrap !important;
                    //margin-left: 0.1rem !important;
                    margin: 1rem auto !important;
                    padding: 0 1rem !important;
                    .filter-item{
                        padding: 0 1px !important;
                        margin: 0 5px;
                        font-size: 14px;
                        //margin: 0 auto !important;
                    }
                }
                .row {
                    margin: 0 auto !important;
                    flex: 0 0 100% !important;
                    max-width: 100% !important;
                    display: grid;
                    grid-template-columns: 1fr !important;
                //display: flex !important;
                //flex-direction: column !important;
                //margin: 0 auto !important;
                //align-items: center !important;
                    .portfolio-items{
                        margin: 0 auto !important;
                        flex: 0 0 100% !important;
                        max-width: 100% !important;
                    //width: 60rem !important;
                    //display: flex !important;
                    //flex-direction: column !important;
                    //width: 100% !important;
                    //grid-template-columns: 1fr !important;
                    //gap: 20px !important; /* Adjust the gap between items as needed */
                    }
                    .portfolio-item {
                        margin: 0 auto !important;
                    //width: calc(50% - 10px) !important;
                    //width: 100% !important; /* Ensure each item takes up full width */
                        flex: 0 0 100% !important;
                        //padding-left: 1.5rem;
                        //width: 300%;
                        max-width: 100% !important;
                    }   
                    .portfolio-item-inner{
                        margin: 0 auto !important;
                        width: 100%;
                        //width: 100%;
                        //padding: 0 1rem;
                        //margin-left: -5rem !important;
                    }
                    //@media (min-width: 768px) {
                    /* Adjust the size of portfolio items for screen widths >= 768px */
                    //.portfolio-item {
                        //width: calc(50% - 10px); /* Adjust the width as needed */
                    //}
                //}
                    .portfolio-popup .description{
                        flex: 0 0 100% !important;
                        max-width: 100% !important;
                        margin: 0 auto !important;
                    }
                    .portfolio-popup .info{
                        flex: 0 0 100% !important;
                        max-width: 100% !important;
                        margin: 0 auto !important;
                    }
                }
            }

        }
        .portfolio-popup{
            overflow-x: hidden !important;
            flex: 0 0 100% !important;
            max-width: 100% !important;
            margin: 0 auto !important;
            //padding-left: -50px !important;
            .pp-main{
                //margin: 0 auto;
                //padding-top: 5rem !important;
                //width: 50%;
                //padding: 5px;
                min-height: 1vh !important;
                //max-height: 900rem;
                z-index: 3;
                margin: -5rem auto !important;
                //white-space: nowrap; /* Prevent text from wrapping */
                //overflow: hidden; /* Hide overflowing content */
                //overflow: hidden !important;
//max-width: 200px;
                .pp-main-inner{
                    margin: 0 auto !important;
                    padding-top: 5rem;
                    //margin-left: 2%; // Adjust the margin as needed
                    //margin-right: 2%; // Adjust the margin as needed
                    flex: 0 0 100% !important;
                    max-width: 90% !important;
                }
                .pp-prev{
                    //margin-top: 20rem;
                    //margin: 0 auto;
                    margin-left: -1.1rem;
                    //padding-left: -50rem;
                    //margin: 0 auto !important;
                    
                }
                .pp-next{
                    margin-right: -2rem;
                }
            }
            .separator{
                display: none;
            }
            .pp-details{
                margin: 0 auto !important;
    
                .pp-details-inner{
                    //margin: 0 auto;
                    .pp-title{
                        padding: 1rem 2rem;
                        h2{
                            font-size: 23px;
                        }
                    }
                    
                    //grid-template-columns: 1fr !important;
                    margin: 0 auto !important;
                    .pp-project-details{
                        margin: 0 auto !important;
                        
                        .row1{
                            margin: 0 auto !important;
                            display: flex;
                            flex-direction: column;
                            .description{
                                h3{
                                    padding-top: 0;
                                    padding-left: 1rem;
                                    font-size: 17px; 
                                }
                                p{
                                    //padding: 0 2.5rem !important;
                                    padding-left: 1rem !important;
                                    //margin: 0 auto;
                                    //margin-bottom: -5rem !important;
                                    min-height: 1vh !important;
                                    //margin-top: -3rem;
                                    font-size: 12px;
                                    z-index: 1;
                                }

                            }
                            .info{
                                //margin-top: 1rem;
                                //margin: 0 auto !important;
                                margin-left: 0.1rem;
                                padding-left: 2rem !important; /* Adjust padding if necessary */
                                //display: flex !important;
                                //flex-direction:  !important; 
                                h3{
                                    font-size: 17px;
                                }
                                ul li{
                                    font-size: 12px;
                                    z-index: 2;
                                }
                            }
                            //grid-template-columns: 1fr !important;
                        }

                    }
                }

            }
            
        }
        
        /* Services */
        #services{
            margin: 0 auto !important;
            .main-title{
                margin: 0 auto !important;
                //margin-bottom: 2rem;
                white-space: nowrap;
                h2{
                    font-size: 30px;
                    .bg-text{
                        font-size: 40px;
                    }
                }
            }
            .service-row{
                display: flex !important;
                flex-direction: column !important;
                //grid-template-columns: 1fr !important;
                gap: 2.5rem !important;
            }

            .service-box{
                margin: 0 auto !important;
                padding: 25px !important;
                //gap: 10rem !important;
                width: 20rem;
            }
            .ser-info h4{
                font-size: 18px !important;
            }
            .ser-info p{
                font-size: 13px !important;
            }
        }
        /* End of Services */

        /* Contact */
        #contact{
            margin: 0 auto !important;
            padding: 3rem 3rem !important;
            .main-title{
                margin: 0 auto !important;
                //margin-bottom: 2rem;
                white-space: nowrap;
                h2{
                    font-size: 30px;
                    .bg-text{
                        font-size: 40px;
                    }
                }
            }
            .contact__send{
                padding: 0.8rem !important;
            }
        }
        /* End of Contact */
        
    
     
     /* End of Portfolio */
    .controlls{
        position: fixed;
        top: auto;
        bottom: 0;
        flex-direction:  row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        //z-index: 1 !important; /* Ensure controlls appear above other content */
        .control{
            //position: fixed;
            margin: 1rem .3rem; //1 rem is margin of top and bottom and .3rem is the margin of left and right.
        }
    }
}




